{:paths ["src"]
 :deps {type-infer/type-infer {:mvn/version "0.1.0-SNAPSHOT"}}
 :aliases
 {:check
  {:extra-deps
   {athos/clj-check
    {:git/url "https://github.com/athos/clj-check.git"
     :sha "da6363a38b06d9b84976ed330a9544b69d3c4dee"}}
   :main-opts ["-m" "clj-check.check"]}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts ["-m" "cognitect.test-runner"]}
  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "1.1.2"}}
   :main-opts ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--codecov"]}}}
