{:paths ["src"]
 :deps {dev.athos/type-infer {:mvn/version "0.1.2"}}
 :aliases
 {:check
  {:extra-deps
   {io.github.athos/clj-check
    {:git/sha "0ca84df1357d71429243b99908303f45a934654c"}}
   :main-opts ["-m" "clj-check.check"]}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "1.1.2"}}
   :main-opts ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--codecov"]}}}
